<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="description" content="i32 Labs is a software development studio based in New Zealand.">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}

<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
<link rel="icon" type="image/x-icon" href="/img/favicon.ico">

<link rel="manifest" href="/site.webmanifest" />

<meta property="og:title" content="{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}">
<meta property="og:description" content="i32 Labs is a software development studio based in New Zealand.">
<meta property="og:url" content="https://i32.co.nz/">

<meta name="twitter:title" content="{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}">
<meta name="twitter:description" content="i32 Labs is a software development studio based in New Zealand.">
<meta name="twitter:card" content="summary">
    
<meta
    name="theme-color"
    content="#f4f1e8"
    media="(prefers-color-scheme: light)" />

<meta
    name="theme-color"
    content="#1a1a1a"
    media="(prefers-color-scheme: dark)" />