*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  
  --icon-background: #f4f1e8;
  --icon-foreground: #1a1a1a;
  --link-foreground: #5b9bd5;
  
  background-color: var(--icon-background);
  color: var(--icon-foreground);
  
  background-image: url("/img/background.png");
  background-attachment: scroll;
  background-repeat: repeat; 
  background-size: 600px; 
  background-position: top left; 
  
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@media (prefers-color-scheme: dark) {
  body {
    --icon-background: #1a1a1a;
    --icon-foreground: #f4f1e8;
    --link-foreground: #5b9bd5;
  }
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

#logo-holder {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem 2rem;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem;
  
  max-width: 1200px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
}

a:not(.no-a-effect) {
  color: var(--link-foreground);
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  padding: 0.2rem 0.4rem;
  margin: -0.2rem -0.4rem;
  border-radius: 5px;
}

a:not(.no-a-effect):hover {
     color: var(--icon-background);
     background-color: var(--link-foreground);
 }

a:not(.no-a-effect):focus {
     color: var(--icon-background);
     background-color: var(--link-foreground);
     outline: none;
 }

footer p {
  margin: 0.25rem 0;
}
